<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Just Lunch</h1>
                <h3><%=link_to "Sign Up", signup_path %> and dine today</h3>
            </div>
        </div>
</header>