<h1>See your meetings!</h1>

<% @meetings.each do |meeting| %>

<p>Meeting Date: <%= link_to meeting.created_at.strftime("%B %d, %Y"), user_meeting_path(current_user, meeting) %></p>
<p> Restaurant: <%= Restaurant.find(meeting.restaurant_id).name %>

</p>
<% end %>
  